### Create Service-facility Mapper

In [2]:
from sqlalchemy import create_engine, text
import pandas as pd
import duckdb

engine = create_engine("postgresql+psycopg2:///?user=postgres&password=123@Team&host=127.0.0.1&port=5432&database=kmfl_llama")
# dbConnection = engine.connect()

# with engine.connect() as conn:
#     result = conn.execute(text("SELECT * FROM tbl_kmfl WHERE open_whole_day = true"))
#     for row in result:
#         print(row)

df = pd.read_sql("""select 
    id,
    categories
    from tbl_kmfl 
    where lat is not null
    
""", con=engine)

In [3]:
import re
import numpy as np

out=[]
for i in range(len(df)):
    cats = df.iloc[i]['categories']
    catArr = re.findall(r'(\w+\-\w+\-\w+\-\w+\-\w+)', cats)
    for cat in catArr:
        out.append([df.iloc[i]['id'], cat])

dfsc = pd.DataFrame(out, columns=['facility_id', 'service_category_id'])

dfsc.head()

   facility_id                   service_category_id
0            2  3a7cb460-2ecb-450b-b21a-4c67e90ba6d2
1            3  24fd65c9-56ea-497c-82ec-3fdf0ac9d006
2            3  36d2f7a8-41b3-40f8-8943-e513fa28c8db
3            3  f312d0b2-5e41-4587-b54d-ff1d1bc128c6
4            3  4a5acc1b-894f-4405-b80e-8e1cfe2609c5

In [4]:
dfsc.to_csv('service_cat_fac_mapper.csv')

In [ ]:
import re
import numpy as np

out=[]
for i in range(len(df)):
    cats = df.iloc[i]['services']
    catArr = re.findall(r'(\w+\-\w+\-\w+\-\w+\-\w+)', cats)
    for cat in catArr:
        out.append([df.iloc[i]['id'], cat])

dfs = pd.DataFrame(out, columns=['facility_id', 'service_id'])

dfs.head()

In [ ]:
dfs.to_csv('service_fac_mapper.csv')

In [ ]:
# serv = df.iloc[1]['service_names']
# servArr = re.findall(r"\b\'\w+ *\w*\'\b", serv)
# print(serv)
# print(servArr)