### Create Service-facility Mapper

In [14]:
from sqlalchemy import create_engine, text
import pandas as pd
import duckdb

engine = create_engine("postgresql+psycopg2:///?user=postgres&password=123@Team&host=127.0.0.1&port=5432&database=kmfl_llama_cats")
# dbConnection = engine.connect()

# with engine.connect() as conn:
#     result = conn.execute(text("SELECT * FROM tbl_kmfl WHERE open_whole_day = true"))
#     for row in result:
#         print(row)

df = pd.read_sql("""select 
    id,
    categories, services
    from tbl_kmfl 
    where lat is not null
    order by id asc
""", con=engine)

In [15]:
df.head(10)

,id,categories,services
0,1,"['9614d93b-1695-486e-85bd-4df0c4571b01', '36d2...","['edb9376c-28d3-4362-b90a-5301be6e4b6e', '1a53..."
1,2,['3a7cb460-2ecb-450b-b21a-4c67e90ba6d2'],"['77e15030-e647-49ca-a4f8-8b6ed243343f', 'a52e..."
2,3,"['24fd65c9-56ea-497c-82ec-3fdf0ac9d006', '36d2...","['1a536286-c5b9-46f4-a72f-919c1fccb8e8', '77e1..."
3,4,"['36d2f7a8-41b3-40f8-8943-e513fa28c8db', '3a7c...","['1a536286-c5b9-46f4-a72f-919c1fccb8e8', '0492..."
4,5,"['9614d93b-1695-486e-85bd-4df0c4571b01', '24fd...","['edb9376c-28d3-4362-b90a-5301be6e4b6e', '804d..."
5,6,"['36d2f7a8-41b3-40f8-8943-e513fa28c8db', 'afa8...","['77e15030-e647-49ca-a4f8-8b6ed243343f', '68c9..."
6,7,['6b43a283-fe4d-4734-a242-d4d9899042e4'],['1f50d873-9042-44c6-90a4-fcdafe2e2b4e']
7,8,"['36d2f7a8-41b3-40f8-8943-e513fa28c8db', 'f312...","['edb9376c-28d3-4362-b90a-5301be6e4b6e', '804d..."
8,9,"['9614d93b-1695-486e-85bd-4df0c4571b01', '3a7c...","['8ebf7fc6-6a8d-4d1e-9a36-d68f59060dd4', '1a53..."
9,10,"['f312d0b2-5e41-4587-b54d-ff1d1bc128c6', '3907...","['1a536286-c5b9-46f4-a72f-919c1fccb8e8', '0492..."

In [16]:
import re
import numpy as np

out=[]
for i in range(len(df)):
    cats = df.iloc[i]['categories']
    catArr = re.findall(r'(\w+\-\w+\-\w+\-\w+\-\w+)', cats)
    for cat in catArr:
        out.append([df.iloc[i]['id'], cat])

dfsc = pd.DataFrame(out, columns=['facility_id', 'service_category_id'])

dfsc.head()

   facility_id                   service_category_id
0            1  9614d93b-1695-486e-85bd-4df0c4571b01
1            1  36d2f7a8-41b3-40f8-8943-e513fa28c8db
2            1  281fa080-27a0-46aa-b1e5-1e0a69146c09
3            1  f312d0b2-5e41-4587-b54d-ff1d1bc128c6
4            1  7de52474-6aa9-4bd2-8291-a5cd29a1b64c

In [17]:
dfsc.to_csv('service_cat_fac_mapper.csv')

In [18]:
import re
import numpy as np

out=[]
for i in range(len(df)):
    cats = df.iloc[i]['services']
    catArr = re.findall(r'(\w+\-\w+\-\w+\-\w+\-\w+)', cats)
    for cat in catArr:
        out.append([df.iloc[i]['id'], cat])

dfs = pd.DataFrame(out, columns=['facility_id', 'service_id'])

dfs.head()

   facility_id                            service_id
0            1  edb9376c-28d3-4362-b90a-5301be6e4b6e
1            1  1a536286-c5b9-46f4-a72f-919c1fccb8e8
2            1  49f4af68-6a24-4348-afdd-7e47e225ed33
3            1  8ed620ad-58b2-44a0-bec8-a787ffad671c
4            1  368c963a-b8de-461b-aa82-5ee1b0c0e391

In [19]:
dfs.to_csv('service_fac_mapper.csv')

In [ ]:
# serv = df.iloc[1]['service_names']
# servArr = re.findall(r"\b\'\w+ *\w*\'\b", serv)
# print(serv)
# print(servArr)