### Create Service-facility Mapper

In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import duckdb

engine = create_engine("postgresql+psycopg2:///?user=postgres&password=123@Team&host=127.0.0.1&port=5432&database=kmfl_llama")
# dbConnection = engine.connect()

# with engine.connect() as conn:
#     result = conn.execute(text("SELECT * FROM tbl_kmfl WHERE open_whole_day = true"))
#     for row in result:
#         print(row)

df = pd.read_sql("""select 
    id,
    categories, services
    from tbl_kmfl 
    where lat is not null
    
""", con=engine)

In [2]:
import re
import numpy as np

out=[]
for i in range(len(df)):
    cats = df.iloc[i]['categories']
    catArr = re.findall(r'(\w+\-\w+\-\w+\-\w+\-\w+)', cats)
    for cat in catArr:
        out.append([df.iloc[i]['id'], cat])

dfsc = pd.DataFrame(out, columns=['facility_id', 'service_category_id'])

dfsc.head()

   facility_id                   service_category_id
0            1  9614d93b-1695-486e-85bd-4df0c4571b01
1            1  36d2f7a8-41b3-40f8-8943-e513fa28c8db
2            1  281fa080-27a0-46aa-b1e5-1e0a69146c09
3            1  f312d0b2-5e41-4587-b54d-ff1d1bc128c6
4            1  7de52474-6aa9-4bd2-8291-a5cd29a1b64c

In [8]:
dfsc.to_csv('service_cat_fac_mapper.csv')

In [7]:
import re
import numpy as np

out=[]
for i in range(len(df)):
    cats = df.iloc[i]['services']
    catArr = re.findall(r'(\w+\-\w+\-\w+\-\w+\-\w+)', cats)
    for cat in catArr:
        out.append([df.iloc[i]['id'], cat])

dfs = pd.DataFrame(out, columns=['facility_id', 'service_id'])

dfs.head()

   facility_id                            service_id
0            1  edb9376c-28d3-4362-b90a-5301be6e4b6e
1            1  1a536286-c5b9-46f4-a72f-919c1fccb8e8
2            1  49f4af68-6a24-4348-afdd-7e47e225ed33
3            1  8ed620ad-58b2-44a0-bec8-a787ffad671c
4            1  368c963a-b8de-461b-aa82-5ee1b0c0e391

In [9]:
dfs.to_csv('service_fac_mapper.csv')

In [6]:
# serv = df.iloc[1]['service_names']
# servArr = re.findall(r"\b\'\w+ *\w*\'\b", serv)
# print(serv)
# print(servArr)